*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    background-color: hsl(30, 38%, 92%);
}

.product-card {
    /* margin-top: 40%; */
    width: 525px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;

    display: flex;

    overflow: hidden;
}

.product-card__image {
    height: 400px;
} 

.product_card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 0.5rem 1.5rem;
}

.product-card__category {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 7.5px;
    color: hsl(228, 12%, 48%);
}

.product-card__title {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 28px;
}

.product-card__description {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: hsl(228, 12%, 48%);
}

.product-card__price {
    display: flex;
    align-items: center;
}

.product-card__price_discounted {
    font-family: 'Fraunces', serif;
    font-size: 28px;
    color: hsl(158, 36%, 37%);
}
.product-card__price_initial {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);

    padding: 15px 15px;
}

.product-card__button {
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(158, 36%, 37%);
    color: white;
    border: none;
    border-radius: 7.5px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
}
.product-card__button:hover {
    background-color: hsl(156, 42%, 18%);
}

.product-card__button > svg {
    padding: 10px 10px;
}

@media only screen and (max-width: 375px) {
    .product-card {
        flex-direction: column;
        width: 300px;
    }

    .product-card__image {
        content: url("../images/image-product-mobile.jpg");
        height: auto;
    }

    .product-card__category {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .product-card__description {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .product-card__price {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/* Given Footer */

.attribution { 
    margin-top: 10px;
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}